* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    letter-spacing: 2.5rem;

}

head {

    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    background: #150019;
}

.button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: 6db33f;
    padding: 10px 20px;
    border-radius: 50%;
    z-index: 9999;
}

.button a {
    color: #ffffff;
    text-decoration: none;
}