.button-top-left {
    position: fixed;
    top: 20px;
    left: 15px;
}

.button-top-left a:hover {
    background: #150019;
    border-color: #6db33f #150019 #6db33f #6db33f;
    border-style: solid;
    border-width: 8px;
    transition: all 0.2s ease-in-out;
    border-radius: 35px 0 0 35px;
}

.button-top-left a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6db33f;
    padding: 10px 10px;
    border-radius: 50px 10px 10px 50px;
    transition: border-color 0.3s ease-in-out;
}

.whatsapp-icon {
    font-size: 24px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
