<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Exhibitor</title>
  <link rel="stylesheet" href="style.css" />
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="javascript" href="javascript.js" />
  <link rel="icon" href="/css/spring-icon-svgrepo-com.svg" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

    .icon-container {
      position: fixed;
      top: 30px;
      right: 30px;
    }

    .icon-container button {
      background-color: transparent;
      border: none;
      cursor: pointer;

    }

    .icon-container button i {
      font-size: 55px;
      color: white;
      /* Altere o valor para ajustar o tamanho do ícone */
    }
  </style>
</head>

<body>
  <!--CONFIG WAVY EXHIBITOR-->
  <style>
    .imagem_spring_reduzida {
      width: 70px;
    }
  </style>

  <div class="wavy">
    <span style="--i: 1">E</span>
    <span style="--i: 2">X</span>
    <span style="--i: 3">H</span>
    <span style="--i: 4">I</span>
    <span style="--i: 5">B</span>
    <span style="--i: 6">I</span>
    <span style="--i: 7">T</span>
    <span style="--i: 8">O</span>
    <span style="--i: 9">R</span>
    <span style="--i: 10">
      <img class="imagem_spring_reduzida" src="/css/spring-icon-svgrepo-com.svg" alt="Spring">
    </span>
  </div>

  <!--CONFIG BARRA LATERAL, ICONES E CLASSES.-->
  <div class="navigation">
    <ul>
      <li>
        <a href="register">
          <span class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </span>
          <span class="title">New Ad</span>
        </a>
      </li>
      <li>
        <a href="display">
          <span class="icon"> <i class="fa fa-eye" aria-hidden="true"></i> </span>
          <span class="title">All Ads</span>
        </a>
      </li>
      <li>
        <a href="myAds">
          <span class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i>
          </span>
          <span class="title">My Ads</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="card">
    <h2>Welcome to Exhibitor App</h2>
    <p>Here you can advertise and see other people's ads, and if you like something, contact them directly!</p>
  </div>

  <div class="icon-container">
    <form action="/logout" method="post">
      <button type="submit">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </button>
    </form>
  </div>



</body>

</html>